div.pdivclass {
    color:red
}
div.titleone{
    color:coral
}
div.headercolor{
    color:darkblue
}
div.randomlist{
    background-color: greenyellow
}
span.facts{
    color: fuchsia
}
div.index{
    background-color: red
}
div.point{
    color: forestgreen
}
div.visit{
    color:rebeccapurple
}
span.cute{
    color: gold
}
div.marineanimals{
    color: hotpink
}
div.fun{
    color:skyblue
}
div.disney{
    color: peru
}
span.octopus{
    color:blue
}
div.birds{
    color: hotpink
}
div.mozart{
    color: goldenrod
}
div.crows{
    color: rgb(104, 10, 104)
}
span.number{
    color: cornflowerblue
}
a{
    color: navy
}
li:hover{
    background-color: plum
}

p.first{
    background-color: slateblue
}
body.over{
    background-color: darkolivegreen
}
@media only screen and (max-width: 600ox) {
    body{
        background-color: cyan
    }
}