div.pdivclass {
    color:red
}
div.titleone{
    color:coral
}
div.headercolor{
    color:darkblue
}
div.randomlist{
    background-color: greenyellow
}
span.facts{
    color: fuchsia
}
div.index{
    background-color: red
}
div.point{
    color: forestgreen
}
div.visit{
    color:rebeccapurple
}
span.cute{
    color: gold
}
div.marineanimals{
    color: hotpink
}
div.fun{
    color:skyblue
}
div.disney{
    color: peru
}
span.octopus{
    color:blue
}