div.pdivclass {
    color:rgb(221, 218, 52)
}
div.titleone{
    color:rgb(2, 59, 133)
}
div.headercolor{
    color:darkblue
}
div.randomlist{
    color: rgb(212, 185, 30)
}
span.facts{
    color: ghostwhite
}
div.index{
    color: red
}
div.point{
    color: forestgreen
}
div.visit{
    color:rebeccapurple
}
span.cute{
    color: gold
}
div.marineanimals{
    color: rgb(199, 155, 43)
}
div.fun{
    color:rgb(30, 100, 128)
}
div.disney{
    color: rgb(199, 155, 43)
}
span.octopus{
    color:blue
}
div.birds{
    color: hotpink
}
div.mozart{
    color: goldenrod
}
div.crows{
    color: rgb(104, 10, 104)
}
span.number{
    color: cornflowerblue
}
a{
    color: navy
}
li:hover{
    background-color: gray
}

p.first{
    color: ghostwhite
}
body.over{
    background-color: rgb(116, 130, 177)
}
@media only screen and (max-width: 600px) {
    body{
        background-color: cyan
    }
}